import React from "react";
import PropTypes from "prop-types";
import ClassNames from "classnames";

import "./{{ name }}.styl";
const {{ name }} = ({ children, className }) => (
    <div className={ClassNames("{{ name }}", className)}>{children}</div>
);
{{ name }}.displayName = "{{ name }}";
{{ name }}.propTypes = {
    children: PropTypes.oneOfType([
        PropTypes.string,
        PropTypes.node,
        PropTypes.arrayOf(PropTypes.node)
    ]),
    className: PropTypes.string
};
export default {{ name }};
